img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-style: none;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.padding-top{
  padding-top: 1cm;
}

.padding-left{
  padding-left: 60px;
}

.avatar{
  position: fixed;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

ul{
  padding-left: 0;
  list-style-type: none;
  list-style-image: initial;
  list-style-position: initial;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}